---
const cardimg = 'https://via.placeholder.com/300x250'
---
<div class="grid xl:grid-cols-4 gap-3 m-2">

<div class="carditems md:col-span-3">
    <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4">
        <div>
            <div class="card bg-base-100 shadow-xl">
                <figure><img src={cardimg} alt="Img" class="w-full" /></figure>
                <div class="card-body">
                  <h2 class="card-title">Shoes!</h2>
                  <p>If a dog chews shoes whose shoes does he choose?</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                  </div>
                </div>
              </div>
        </div>
        <div>
            <div class="card bg-base-100 shadow-xl">
                <figure><img src={cardimg} alt="Img" class="w-full" /></figure>
                <div class="card-body">
                  <h2 class="card-title">Shoes!</h2>
                  <p>If a dog chews shoes whose shoes does he choose?</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                  </div>
                </div>
              </div>
        </div>
        <div>
            <div class="card bg-base-100 shadow-xl">
                <figure><img src={cardimg} alt="Img" class="w-full" /></figure>
                <div class="card-body">
                  <h2 class="card-title">Shoes!</h2>
                  <p>If a dog chews shoes whose shoes does he choose?</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                  </div>
                </div>
              </div>
        </div>
        <div>
            <div class="card bg-base-100 shadow-xl">
                <figure><img src={cardimg} alt="Album" class="w-full"/></figure>
                <div class="card-body">
                    <h2 class="card-title">Shoes!</h2>
                    <p>If a dog chews shoes whose shoes does he choose?</p>
                    <div class="card-actions justify-end">
                      <button class="btn btn-primary">Buy Now</button>
                    </div>
                  </div>
              </div>
        </div>
        <div>
            <div class="card bg-base-100 shadow-xl">
                <figure><img src={cardimg} alt="Album" class="w-full"/></figure>
                <div class="card-body">
                    <h2 class="card-title">Shoes!</h2>
                    <p>If a dog chews shoes whose shoes does he choose?</p>
                    <div class="card-actions justify-end">
                      <button class="btn btn-primary">Buy Now</button>
                    </div>
                  </div>
              </div>
        </div>
        </div>
</div>
<div class="side-carditems">
    <div class="overflow-x-auto">
        <div class="tabs tabs-boxed flex justify-center">
            <a class="tab">Tab 1</a> 
            <a class="tab tab-active">Active</a> 
            <a class="tab">Tab 3</a>
          </div>
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Job</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <tr>
              <th>1</th>
              <td>Cy Ganderton</td>
              <td>Quality Control Specialist</td>
            </tr>
            <!-- row 2 -->
            <tr>
              <th>2</th>
              <td>Hart Hagerty</td>
              <td>Desktop Support Technician</td>
            </tr>
            <!-- row 3 -->
            <tr>
              <th>3</th>
              <td>Brice Swyre</td>
              <td>Tax Accountant</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>

</div>
