---
const cardimg = 'https://via.placeholder.com/300x250'
import Shopitem from '../components/Shopitem.astro';
import Tabs from '../components/Tabs.svelte';

const response = await fetch('http://127.0.0.1:3005/shopitems');
const shopitems = await response.json();


// const shopitems2 = [
//   { id: 1,name: 'Pikachu',buycount: 1,description:"ละเอียดยิบ" },
//   { id: 2,name: 'Charizard',buycount: 12,description:"ละเอียดยิบ2" },
//   { id: 3,name: 'Bulbasaur',buycount: 22,description:"ละเอียดยิบ3" },
// ];



---



<div class="grid grid-cols-1 xl:grid-cols-4 gap-3 m-5">

<div class="carditems md:col-span-3">
<!--  -->
<div class="">
    <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4" >
          {shopitems.map((data) =>
            <Shopitem
            id={data.id},
             title={data.name},
             href={cardimg},
             buycount={data.buycount.toString()},
             description={data.description}
             />

        )}


        </div>
</div>
</div>
<div class="side-carditems bg-base-200 rounded-lg">
    <div class="overflow-x-auto">
      <Tabs client:load/>
      </div>
</div>

</div>


<div class="bg-base-200 grid gap-2 p-3 justify-center">
  <div class="text-2xl font-medium">
    รายการไอเทมทั้งหมด
    
  </div>

  <button class="btn btn-secondary btn-sm md:btn-md lg:btn-md max-w-xs">🔍ค้นหาไอเทม</button>

  <input type="text" placeholder="ระบุไอเทมที่สนใจ" class="input w-full max-w-sm" />

  </div>

  <div class="grid gap-2 p-1">
  {shopitems.map((data) => 
<div class="card card-side bg-base-100 shadow-xl">
  <figure><img src={cardimg} alt="Movie"/></figure>
  <div class="card-body">
    <h2 class="card-title">New movie is released!</h2>
    <p>Click the button to watch on Jetflix app.</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">ซื้อไอเทม</button>
    </div>
  </div>
</div>

)}
</div>



