---
const cardimg = 'https://via.placeholder.com/300x250'
import Shopitem from '../components/Shopitem.astro';
import Tabs from '../components/Tabs.svelte';

const response = await fetch('http://127.0.0.1:3005/shopitems');
const shopitems = await response.json();



---
<div class="grid grid-cols-1 xl:grid-cols-4 gap-3 m-5">

<div class="carditems md:col-span-3" >
<!--  -->
<div class="">
    <!-- <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4" > -->

<!-- Slider main container -->
<div id="shopitem-slides" class="keen-slider">
  <!-- Additional required wrapper -->

    <!-- Slides -->
    {shopitems.map((data) =>
      <Shopitem
      id={data.id},
       title={data.name},
       href={cardimg},
       buycount={data.buycount.toString()},
      point={data.point},
       description={data.description}
       />
    )}
</div>
        <!-- </div> -->
</div>
</div>
<div class="side-carditems bg-base-200 rounded-lg">
    <div class="overflow-x-auto">
      <Tabs client:load/>
      </div>
</div>

</div>


<div class="bg-base-200 grid gap-2 p-3 justify-center">
  <div class="text-2xl font-medium">
    รายการไอเทมทั้งหมด
    
  </div>

  <div class="join">
    <div>
      <div>
        <input class="input input-bordered join-item" placeholder="Search..."/>
      </div>
    </div>
    <select class="select select-bordered join-item">
      <option disabled selected>Category</option>
      <option>Sci-fi</option>
      <option>Drama</option>
      <option>Action</option>
    </select>

  </div>



  </div>

  <div class="grid gap-2 p-1">
  {shopitems.map((data) => 
<div class="card card-side bg-base-100 shadow-xl">
  <figure><img src={cardimg} alt="Movie"/></figure>
  <div class="card-body">
    <h2 class="card-title">{data.name}</h2>
    <p>{data.point}</p>

    <div class="card-actions justify-end">
      <button class="btn btn-primary">ซื้อไอเทม</button>
    </div>
  </div>
</div>

)}
</div>

<script>
  import 'keen-slider/keen-slider.min.css'
import KeenSlider from 'keen-slider'

var slider = new KeenSlider("#shopitem-slides", {
  breakpoints: {
          "(min-width: 400px)": {
            slides: { perView: 2, spacing: 5 },
          },
          "(min-width: 768px)": {
            slides: { perView: 3, spacing: 10 },
          },
          "(min-width: 1000px)": {
            slides: { perView: 4, spacing: 10 },
          },
        },
        slides: {
          perView: 1, 
          spacing: 15,
        },
      })

</script>

