---
const img =
  "https://daisyui.com/images/stock/photo-1625726411847-8cbb60cc71e6.jpg";
const imgmockup = "https://via.placeholder.com/900x400";

const sideimg = "https://via.placeholder.com/450x200";
---

<div class="lg:grid grid-cols-3 gap-2">
  <div class="col-span-2">
    <div id="top-slides" class="keen-slider">
      <!-- Slides -->
      <div class="keen-slider__slide">
        <img src={imgmockup} class="w-full" />
      </div>
      <div class="keen-slider__slide">
        <img src={imgmockup} class="w-full" />
      </div>
      <div class="keen-slider__slide">
        <img src={imgmockup} class="w-full" />
      </div>
    </div>
  </div>
  <div class="sm:grid lg:grid-cols-1 sm:grid-cols-2">
    <img src={sideimg} class="w-full" />
    <img src={sideimg} class="w-full" />
  </div>
</div>

<script>
  import "keen-slider/keen-slider.min.css";
  import KeenSlider from "keen-slider";

  var slider = new KeenSlider("#top-slides", {
    slides: {
      perView: 1,
    },
  });
</script>
